.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  height: 100vh;
}

.body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex: 0 1 calc(85vh - 15vmin);
  align-items: flex-end;
}

.frame {
  position: absolute;
  border: 5px solid #ffffff;
  background-repeat: no-repeat;
}

.footer {
  box-sizing: border-box;
  flex: 0 1 calc(15vh + 15vmin);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc(8px + 5vmin) 0;
  font-size: calc(8px + 2vmin);
}

.drawButton {
  align-self: center;
  display: inline-block;
  padding: calc(2px + 1vh) calc(12px + 10vw);
  min-width: 140px;
  border: none;
  border-radius: calc(2px + 1vh);
  background-color: #007bff;
  color: #ffffff;
  text-align: center;
  font-size: calc(14px + 4vmin);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: #0056b3;
  }

  &:focus {
    outline: none;
  }
}
