.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  height: 100vh;
}

.body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex: 0 1 calc(85vh - 12vmin);
  align-items: flex-end;
  overflow: hidden;
}

.frame {
  max-width: 100%;
  max-height: calc(100% - 10px);
  border: 5px solid #5980aa;
  background-repeat: no-repeat;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.footer {
  box-sizing: border-box;
  flex: 0 1 calc(15vh + 12vmin);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc(8px + 2vmin) 0 calc(8px + 5vmin);
  font-size: calc(8px + 2vmin);
}

.drawButton {
  align-self: center;
  display: inline-block;
  padding: calc(2px + 1vh) calc(12px + 10vw);
  min-width: 140px;
  border: none;
  border-radius: calc(2px + 1vh);
  background-color: #4d6885;
  color: #282c34;
  text-align: center;
  font-size: calc(14px + 4vmin);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    background-color: #5980aa;
  }

  &:focus {
    outline: none;
  }
}
