.app {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
}

.appBody {
  display: flex;
  justify-content: center;
  flex: 0 0 70vh;
  align-items: flex-end;
}

.frame {
  width: 320px;
  height: 447px;
  border: 5px solid #ffffff;
  background-repeat: no-repeat;
}

.appFooter {
  flex: 0 0 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(10px + 5vh);
  font-size: calc(8px + 2vmin);
}

.drawButton {
  display: inline-block;
  padding: 12px 36px;
  min-width: 140px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #ffffff;
  text-align: center;
  font-size: calc(14px + 2vmin);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: #0056b3;
  }

  &:focus {
    outline: none;
  }
}

.subFooter {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: #666;
  margin-top: 24px;
}

.clearButton {
  min-width: 80px;
  padding: 4px 12px;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  background-color: #fff;
  border: none;
  border-radius: 4px;
}

.discardPile {
  flex: 0 0 45%;
}

.info {
  display: flex;
  flex: 0 0 45%;
  flex-direction: column;
}
