$font-size: calc(8px + 2vmin);

.wrapper {
  display: flex;

  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.categoryList {
  margin-top: calc(2px + 1vmin);
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.item {
  flex: 0 0 50%;
  align-items: center;
  display: flex;
  cursor: pointer;
}

@media screen and (min-width: 650px) {
  .item {
    flex: 0 0 25%;
  }
}

.checkbox {
  flex: 0 0 $font-size;
  height: $font-size;
  background-size: $font-size;
  background-image: url("../../../assets/images/icons/checkbox-unchecked.svg");

  &[data-checked="true"] {
    background-image: url("../../../assets/images/icons/checkbox.svg");
  }
}

.label {
  margin-left: calc(2px + 1vmin);
  font-size: $font-size;
}
