@use "src/styles/variables";

.settingIcon {
  flex: 0 0 variables.$icon-size;
  width: variables.$icon-size;
  background-image: url("~@/assets/images/icons/settings.svg");
  background-size: variables.$icon-size;
  margin-left: variables.$common-padding;
  transition: all 0.3s ease 0s;
  cursor: pointer;

  &:hover {
    background-image: url("~@/assets/images/icons/settings-active.svg");
  }

  &[data-active="true"] {
    background-image: url("~@/assets/images/icons/settings-active.svg");
  }
}

.menuContainer {
  position: fixed;
  inset: 0;
  z-index: variables.$modal-z-index;
}

.menu {
  box-sizing: border-box;
  position: absolute;
  left: variables.$common-padding;
  bottom: calc(variables.$common-padding * 2 + variables.$icon-size);
  display: flex;
  width: calc(100vw - variables.$common-padding * 2);
  min-height: 50vh;
  color: #5980aa;
  background-color: rgba(40, 44, 52, 0.95);
  padding: variables.$common-padding;
  border: 2vmin solid #5980aa;
  border-radius: 5vmin;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
}

.resetButton {
  padding: calc(2px + 1vmin) calc(2px + 2vmin);
  height: calc(12px + 4vmin);
  font-size: variables.$font-size-m;
  color: rgba(40, 44, 52, 0.95);
  background-color: #5980aa;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.menuItem {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex: 0 1 calc(2px + 6vh);
  justify-content: space-between;
  align-items: center;
  padding-bottom: calc(2px + 2vmin);

  &:not(:first-child) {
    border-top: 2px dashed #5980aa;
    padding-top: calc(2px + 2vmin);
  }
}
