$common-padding: calc(8px + 3vmin);
$icon-size: calc(18px + 6vmin);
$item-height: calc(2px + 6vh);

.settingIcon {
  flex: 0 0 calc(18px + 6vmin);
  width: calc(18px + 6vmin);
  background-image: url("../../assets/images/icons/settings.svg");
  background-size: $icon-size;
  margin-left: $common-padding;
  transition: all 0.3s ease 0s;
  cursor: pointer;

  &:hover {
    background-image: url("../../assets/images/icons/settings-active.svg");
  }

  &[data-active="true"] {
    background-image: url("../../assets/images/icons/settings-active.svg");
  }
}

.menuContainer {
  position: fixed;
  inset: 0;
  z-index: 100;
}

.menu {
  box-sizing: border-box;
  position: absolute;
  left: $common-padding;
  bottom: calc($common-padding * 2 + $icon-size);
  display: flex;
  width: calc(100vw - $common-padding * 2);
  min-height: 50vh;
  color: #5980aa;
  background-color: rgba(40, 44, 52, 0.95);
  padding: $common-padding;
  border: 2vmin solid #5980aa;
  border-radius: 5vmin;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
}

.clearButton {
  min-width: 80px;
  height: calc(12px + 4vmin);
  font-size: calc(8px + 2vmin);
  color: rgba(40, 44, 52, 0.95);
  background-color: #5980aa;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.menuItem {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex: 0 1 $item-height;
  justify-content: space-between;
  align-items: center;
  padding-bottom: calc(2px + 2vmin);

  &:not(:first-child) {
    border-top: 2px dashed #5980aa;
    padding-top: calc(2px + 2vmin);
  }
}
